

body.offcanvas-backdrop::before {
    background-color: transparent;
    z-index: 1019;
    transition: background-color 0.3s ease;
}

body.offcanvas-backdrop {
    z-index: 1019;

    .beller-brand-join-wrapper {

        @include media-breakpoint-down(lg) {
            width: 100% !important;
        }

        &::before {
            @include media-breakpoint-down(lg) {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 1019;
                width: 100vw;
                height: 100vh;
                content: "";
                background-color: rgb(0 0 0 / 70%);
                transition: background-color 0.3s ease;
            }
        }

    }

}

.beller-navbar-top {

    .beller-logo-top-nav {
        max-height: 2.75rem;
    }

    .beller-navbar-moblie-join, .beller-nav-item-sm-brand-language {
        @include media-breakpoint-up(lg) {
            display: none !important;
            height: 0 !important;
            margin: 0 !important;
            max-height: 0;
            max-width: 0;
            padding: 0 !important;
            width: 0 !important;
            visibility: hidden !important;
        }
    }

    .beller-brand-join-wrapper {

        @include media-breakpoint-down(lg) {
            width: 100% !important;
        }
    }

    .beller-navbar-toggler {
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23000' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat;
        height: 1rem;
        margin-left: 1.25rem;
        padding: 1rem;
        width: 1rem;
    }


    .navbar-toggler:focus {
        box-shadow: none;
    }

    .nav-link {
        font-weight: 500;


        &:not(.dropdown-toggle)  {
            @include media-breakpoint-up(lg) {
            padding-left: 1.125rem !important;
            padding-right: 1.125rem !important;
         }
        }
    }

    .beller-navbar-join {
        .beller-btn-join {
            padding-left: 1.75rem;
            padding-right: 1.75rem;
        }
    }

    .beller-navbar-menu.offcanvas {

        @include media-breakpoint-down(lg) {
            overflow-y: auto;
            width: 85%;
        }

        @include media-breakpoint-up(lg) {
            background: transparent;
            border: 0;
            flex-direction: row;
            position: static;
            right: auto;
            top: auto;
            transform: translate(0px, 0px);
            transition: transform 0s ease-in-out;
            visibility: visible !important;
            width: 100%;

        }

        .offcanvas-header {

            @include media-breakpoint-up(lg) {
                display: none !important;
                height: 0 !important;
                margin: 0 !important;
                max-height: 0;
                max-width: 0;
                padding: 0 !important;
                width: 0 !important;
                visibility: hidden !important;
            }

        }

    }

    .beller-navbar-menu-items {
        @include media-breakpoint-down(lg) {
            padding: 0.125rem 2.125rem 10rem;
        }

        .beller-nav-item-sm-brand-language {
            margin-bottom: 3.125rem;
        }

        .nav-item:not(:first-child){
            @include media-breakpoint-down(lg) {
               margin-bottom: 2.125rem;
            }
        }

        .beller-navbar-join {
            @include media-breakpoint-down(lg) {
               margin-bottom: 0 !important;
               padding: 2.375rem 0.625rem 0;
            }
        }


    }



    .beller-navbar-language {

        &.d-none.d-lg-block{
            @include media-breakpoint-down(lg) {
                display: none !important;
                height: 0 !important;
                margin: 0 !important;
                max-height: 0;
                max-width: 0;
                padding: 0 !important;
                width: 0 !important;
                visibility: hidden !important;
            }
        }

        @include media-breakpoint-up(lg) {
            margin:  0 2.25rem 0 1.125rem;
        }

        .beller-navbar-language-dropdown-menu {
            border: none;
            border-radius: 25px;
            min-width: 21px;
            padding: 0.25rem;
            box-shadow: 0px 0px 6px #00000029;
        }
    }

    [class^='beller-navbar-flag-']  {
        background: $white;
        color: transparent;
        font-size: 0;
        max-height: 2rem;
        max-width: 2rem;
        min-height: 2rem;
        min-width: 2rem;
        border: 1px solid $white;
        border-radius: 50%;


        &.dropdown-toggle {
            box-shadow: 0px 0px 6px #00000029;
        }


        &.dropdown-toggle:after {
            content: url('../img/beller-top-navbar-flag-selector.png');
            position: absolute;
            top: 0%;
            right: -50%;
            bottom: auto;
            left: auto;
        }

        &.dropdown-toggle.show:after {
            content: url('../img/beller-top-navbar-flag-selector-close.png');
        }
    }

    .beller-navbar-flag-usa {
        background: url('../img/beller-top-navbar-flag-usa.png') center no-repeat padding-box;
    }

    .beller-navbar-flag-spain {
        background: url('../img/beller-top-navbar-flag-spain.png') center no-repeat padding-box;
    }

    .beller-navbar-flag-france {
        background: url('../img/beller-top-navbar-flag-france.png') center no-repeat padding-box;
    }

    .beller-navbar-flag-brazil {
        background: url('../img/beller-top-navbar-flag-brazil.png') center no-repeat padding-box;
    }

    .btn {
        background: transparent linear-gradient(180deg, #76CCAE 0%, #33B879 100%) 0% 0% no-repeat padding-box;
        color: $white;
        padding: 0.25rem 1.25rem;
    }

}