[class^='beller-section-order-confirm'] {
    background: #F5F5F5;
    padding-bottom: 4.5rem;
    padding-top: 2.5rem;

    .container > .row {

        --bs-gutter-x: 0;

        @include media-breakpoint-up(lg) {
            --bs-gutter-x: 1rem;
        }
    }
}

.beller-col-order-confirm-plan {

    @include media-breakpoint-up(lg) {
        max-width: 55vw;
    }

    @include media-breakpoint-up(xl) {
        max-width: 45.625rem;
    }
}

.beller-heading-order-confirm {
    margin-bottom: 2.5rem;
}

.beller-form-order-confirm {
    margin: 0;
}

.beller-title-order-confirm {
    font-size: 1.5rem;
    margin-bottom: 1rem;

    @include media-breakpoint-up(lg) {
        font-size: 2.625rem;
    }
}

[class^='beller-collapse-btn-'] {
    color: #939598;
    border-color: #C2C2C2;
    border-radius: 50%;
    line-height: 1;
    max-height: 1.875rem;
    min-height: 1.875rem;
    max-height: 1.875rem;
    min-width: 1.875rem;
    padding: 0.5rem 0.375rem 0.25rem;

    &:active, &:hover {
        background-color: #C2C2C2;
        border-color: #C2C2C2;
    }

    &:focus {
        box-shadow: none;
    }

    &::after {
        border: none;
        display: none;
        line-height: 1;
    }

    .bi-chevron-down {
        line-height: 1;
    }
}

.beller-col-order-confirm-summary-payment {
    border-radius: 1.875rem;

    @include media-breakpoint-up(xl) {
        max-width: 27.5rem;
    }

    .row {
        --bs-gutter-x: 0;
    }

    [class^='beller-order-confirm-'] {
        @include media-breakpoint-up(lg) {
           box-shadow: 0px 0px 26px #0000000F;
        }
    }

    .beller-order-confirm-summary {
        background: $primary;
        border-radius: 1.5rem 1.5rem 0 0;
        padding: 1.5rem 1.5rem  3rem;

        @include media-breakpoint-up(lg) {
            padding: 1.5rem 2.25rem  4rem;
        }

        [class^='beller-payment-order-'],
        .beller-title-payment-order-summary {
            color: $white;
        }

        [class^=beller-payment-order-vat] {
            margin-bottom: 1.25rem;
        }

    }

    .beller-order-confirm-payment {
        background: $white;
        border-radius: 1.875rem;
        box-shadow: 0px 0px 26px #0000000F;
        margin-top: -2rem;
        padding: 2.25rem 2.25rem ;

        label {
            font-family: $headings-font-family;
        }

        .beller-tilte-confirm-payment {
            font-size: 1.5rem;
            margin-bottom: 1.875rem;
        }
    }
}

[class^='beller-input-radio-order-confirm-'] {
    background: $white;
    border-radius: 0.625rem;
    box-shadow: 0px 0px 12px #00000008;
    margin-bottom: 1.5rem;
    padding: 1.75rem 1.25rem;

    @include media-breakpoint-down(lg) {
        padding: 1.625rem 1rem;
    }

    & > .row {

        --bs-gutter-x: 1rem;
    }

    img {
        max-height: 3.625rem;
    }

    p,
    .beller-title-badge-header {
        font-size: 0.75rem;
        margin: 0;
    }

    p {
        color: #676767;


    }

    [class^='beller-input-radio-label-'] {}

    .beller-radio-control {
        display: block;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
        border: 2px solid #A5A5A5;
    }

    input[type='radio'].form-check-input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .beller-radio-control {
            background: $primary url('../img/beller-img-check-label.png') no-repeat center center;
            border-color: $primary;
        }
    }

    [class^='beller-input-radio-title-'] {
        font-size: 1.125rem;
        font-weight: 600;
        text-transform: uppercase;

        @include media-breakpoint-up(lg) {
            font-size: 1rem;
        }
    }

    .beller-input-radio-title-diamond{ color: #70BBEF }
    .beller-input-radio-title-ruby{ color: #FF0059 }
    .beller-input-radio-title-jadiete{ color: #2FB775; }
    .beller-input-radio-title-blue-diamond { color: #367CCB; }

    .beller-input-radio-desc  {
        @include media-breakpoint-down(md) {
           display: none !important;
            height: 0 !important;
            margin: 0 !important;
            max-height: 0;
            max-width: 0;
            padding: 0 !important;
            width: 0 !important;
            visibility: hidden !important;
        }
    }

    // .beller-title-badge-header {
    //     margin-bottom: 0.25rem;
    // }


}

[class^='beller-tabs-borderless-order-'] {

    margin-top: 0.25rem;

    @include media-breakpoint-up(md) {
        padding-left: 6.625rem;
    }

    [class^='beller-tabs-nav-plan-'] {
        margin-bottom: 1rem;
    }

    .nav-link {
        padding: 0.375rem 0.625rem;
    }
}

.beller-input-radio-order-confirm-blue-diamond {
    .beller-title-badge-header {margin: 0;}
}

.beller-form-submit-order-confirm {
    padding-top: 0.75rem;
}

.beller-order-payment-method {

    margin-bottom: 1.75rem;

    .form-check {
        padding: 0;
    }

    .form-check-input {
        display: none;

        &:checked + [class^='beller-check-label-'],
        &.checked + [class^='beller-check-label-'] {

            background: transparent url('../img/beller-img-check-label.png') no-repeat right top;

            .fas, .fab {

                border-color: $primary;
                color: $primary;
            }
        }
    }

    [class^='beller-check-label-'] {
        padding: 0.5rem;

        .fas, .fab {
            border: 2px solid #BFBFBF;
            color: #BFBFBF;
            border-radius: 0.75rem;
            font-size: 1.75rem;
            line-height:  4.25rem;
            max-width: 4.5rem;
            min-width: 4.5rem;
            max-height: 4.25rem;
            min-height: 4.25rem;
            padding: 0;
        }

    }
}

.beller-order-payment-method-info {

     input::placeholder {
        color: #C5C5C5;
    }

    & > .row {
        --bs-gutter-x: 1.5rem;
    }

    label {
        font-size: 0.75rem;
    }

    [class^='beller-input-cc-'] {
        padding-bottom: 1.5rem;
    }
}


[class^='beller-section-payment-'] {
    background: url('../img/beller-img-bg-payment-confirm.png') no-repeat left top padding-box, transparent linear-gradient(to bottom, #FFFFFF 45%, #F2F2F2 65%) 0% 0% no-repeat padding-box;
    padding: 3.375rem 1rem;

    @include media-breakpoint-up(sm) {
        min-height: 86.2vh;
        // min-height: cacl(100% - 69px);
    }

    @include media-breakpoint-up(lg) {
        background: url('../img/beller-img-bg-payment-confirm.png') no-repeat center top padding-box, transparent linear-gradient(to bottom, #D8EFE4 45%, #F5F5F5 65%) 0% 0% no-repeat padding-box ;
    }
}

[class^='beller-content-payment-'] {
    background: $white;
    border-radius: 1rem;
    box-shadow: 0px 0px 25px #00000012;
    padding: 2.125rem 2.75rem 4.125rem;
    max-width: 90.75vw;
    z-index: +3;

    @include media-breakpoint-up(lg) {
        padding: 4.25rem 10.75rem;
    }

     li {
        font-size: 0.875rem;

        &:not(:last-child) {
            margin-bottom: 1.75rem;
        }
    }
}



[class^='beller-title-payment-'] {
        font-size: 1.75rem;
        font-weight: 600;
        margin-bottom: 1.25rem;
}

    .beller-link-payment-invoice {
        border-bottom: 1px dashed $primary;
        margin-bottom: 0.25rem;
        text-decoration: none;
    }

    .beller-btn-payment-info {
        padding: 0.5rem 2.5rem;
    }

    [class^='beller-icon-payment-'] {
        margin-bottom: 2.5rem;
        padding: 3rem;
    }

    [class^='beller-btn-gradient-payment-'] {
        cursor: default;
    }

    .beller-btn-gradient-payment-failed {
        background: linear-gradient(120deg, #FA8D8D 0%, #de3e35ed 100%);
        border: none;
        box-shadow: 0px 0px 0px 21px #FCE5E4, 0px 0px 0px 40px #FFF8F8 !important;

        &:hover {
        background: linear-gradient(45deg, #FA8D8D 0%, #de3e35ed 100%);
    }
    }

.beller-content-payment-plan {
    background: #FDFDFD;
    padding: 2.5rem 1.75rem;
    margin: 0 auto;
    max-width: 85vw;

    border-radius: 0 0 1rem 1rem;

    @include media-breakpoint-up(lg) {
        border-radius: 0 1rem 1rem 0 ;
    }

    .beller-payment-plan-features {
        background: $white;
        border-radius: 0.625rem;
        box-shadow: 0px 0px 25px #00000012;
        margin: 0 auto;
        padding: 1.875rem 1.25rem;
        max-width: 64vw;

        ul {
            margin: 0;
            @include media-breakpoint-up(lg) {
                columns: 2;
                -webkit-columns: 2;
                -moz-columns: 2;
            }

            li {
                font-family: $headings-font-family;
                font-size: 0.75rem;

                &:not(:last-child) {
                    margin-bottom: 0.75rem;
                }

                .fa-check {
                    color: $primary;
                    font-size: 1rem;
                    margin-right: 0.5rem;
                }
            }

        }
    }

    .beller-heading-payment-plan {
        margin-bottom: 2.875rem;
    }

    .beller-heading-payment-plan {
        .beller-title-payment-plan {
            font-size: 0.875rem;
        }

        [class^='beller-title-plan-gem-'] {
            color: $primary;
            font-family: $font-family-sans-serif;
            font-size: 1.5rem;
            text-transform: uppercase;
        }
    }
}

.beller-title-payment-order-summary {

        font-size: 1.375rem;
    }

    [class^='beller-payment-order-'] {
        font-family: $headings-font-family;
    }

    [class^='beller-payment-order-balance'] {
        font-size: 0.875rem;
        font-weight: 300;
        margin-bottom: 0.625rem;
    }

    [class^='beller-payment-order-vat'] {
        font-size: 0.75rem;
         font-weight: 300;
        margin-bottom: 1rem;
    }

    .beller-payment-order-balance-amount,
    .beller-payment-order-vat-amount {
        font-weight: 600;
    }

    [class^='beller-payment-order-total'] {
        color: $black;
         font-size: 1rem;
        //  font-weight: 600;
    }

    .beller-payment-order-total-amount {
        font-size: 1.25rem;
        font-weight: 600;
    }

.beller-payment-order-summary {
    padding: 3rem 0 0;
    color: #00000096;


}