.nav-fixed {
    transition: 0.3s ease-in-out;
}

.nav-active {
    background-color:red;
}

.beller-body-home {
    @include media-breakpoint-up(xl) {
        margin-top: -4.5rem;
        position: relative;
    }

    .beller-navbar-top {
        @include media-breakpoint-up(xl) {

            &.navbar-scroll {
                transition: 0.3s ease-in-out;
            }

            &:not(.navbar-scroll) {

                background: transparent !important;

                .beller-navbar-join {

                .beller-btn-join {
                        transition: 0.3s ease-in-out;
                        color: $primary;
                        background: $white;
                        border-color: $white;
                    }
                }

                .nav-link {
                    transition: 0.3s ease-in-out;
                    color: $white;
                }
            }


        }
    }
}

[class^='beller-title-badge-'] {
    background: #3CBB803D;
    color: $primary;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    padding: 0.3125rem 1rem;
}

[class^='beller-header-home'], [class^='beller-section-home-'] {
    [class^='beller-title-'] {

        font-weight: 300;

        line-height: 1.4;
        @include media-breakpoint-up(xl) {
            line-height: 1.6;
        }


        span, &.beller-title-header-highlight {
            font-weight: 600;
        }
    }
}



[class^='beller-btn-dashed-'] {
    border-style: dashed;
}


.btn-primary,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:focus,
.btn-primary:hover,
.btn-outline-primary:hover {
    color: $white;
    box-shadow: none
}

.btn-outline-primary:active,
.btn-outline-primary:active:focus,
.btn-outline-primary:focus,
.btn-outline-primary:hover {
    box-shadow: none
}


.beller-header-home {

    overflow: hidden;

    background: url('../img/beller-header-bg-home-spots-sm.png') no-repeat -9vw bottom padding-box, url('../img/beller-header-bg-home-poolside-sm.png') no-repeat 57vw 95% padding-box, transparent linear-gradient(300deg, #FFFFFF 0%, #F2F2F2 100%) 0% 0% no-repeat padding-box;

    @include media-breakpoint-down(lg) {
        background: url('../img/beller-header-bg-home-spots-sm.png') no-repeat -9vw bottom padding-box, url('../img/beller-header-bg-home-poolside-sm.png') no-repeat 60vw 95% padding-box, transparent linear-gradient(300deg, #FFFFFF 0%, #F2F2F2 100%) 0% 0% no-repeat padding-box;
        padding-bottom: 11.125rem;
        padding-top: 1.25rem;
    }

    .beller-title-header-highlight {
        color: $primary;
    }
}

.beller-container-header-home {


    @include media-breakpoint-up(lg) {
        padding-bottom: 8.5rem;
    }

    & > .container {
        @include media-breakpoint-up(xl) {
            position: relative;
        }
    }

    [class^='beller-img-header-'] {
        position: absolute;
        left: 10px;
        top: 10px;

        @include media-breakpoint-down(xl) {
            display: none !important;
            height: 0 !important;
            margin: 0 !important;
            max-height: 0;
            max-width: 0;
            padding: 0 !important;
            width: 0 !important;
            visibility: hidden !important;
        }
    }

    // beller-img-bg-header-home photos
    .beller-img-header-gerson-repreza {
        left: 360px;
        top: 10px;

        animation: nudge_y 2s ease-in-out infinite alternate;
    }

    .beller-img-header-tessa-wilson {
        left: -240px;
        top: 162px;

        animation: nudge_y 2s ease-in-out infinite alternate-reverse;
    }

    .beller-img-header-ksenia-balandina {
        left: -215px;
        top: 456px;

        animation: nudge_x 2s ease-in-out infinite alternate-reverse;
    }

    .beller-img-header-jane-palash {
        left: 420px;
        top: 406px;

         animation: nudge_x 2s ease-in-out infinite alternate;

    }

    .beller-img-header-christian-hess-araya {
        left: 85px;
        top: 555px;

        animation: nudge_y 2s ease-in-out infinite alternate;
    }

    .beller-img-header-rio-lecatompessy {
        left: 660px;
        top: 560px;

         animation: nudge_y 2s ease-in-out infinite alternate-reverse;
    }

    .beller-img-header-trisha-marie-uvas {
        left: 1115px;
        top: 575px;

        animation: nudge_y 2s ease-in-out infinite alternate;
    }
    // beller-img-bg-header-home photos

     // beller-img-bg-header-home vectors
     .beller-img-header-rectangle-left-01 {
        left: -286px;
        top: -35px;

        animation: opacity_0 2s ease-in-out infinite alternate;
    }

     .beller-img-header-rectangle-left-02 {
        left: -370px;
        top: 424px;

        animation: nudge_y 2s ease-in-out infinite alternate;
    }

    .beller-img-header-dots-grid-left-01 {
        left: -318px;
        top: 620px;

        animation: opacity_0 2s ease-in-out infinite alternate;
    }

     .beller-img-header-rectangle-center-01 {
        left: 185px;
        top: -105px;

        animation: nudge_x 2s ease-in-out infinite alternate-reverse;
    }

     .beller-img-header-rectangle-center-02 {
        left: 365px;
        top: 535px;

        animation: opacity_0 2s ease-in-out infinite alternate;
    }

    .beller-img-header-rectangle-right-01 {
        left: 865px;
        top: 663px;

        animation: nudge_x 2s ease-in-out infinite alternate-reverse;
    }

    .beller-img-header-rectangle-right-02 {
        left: 723px;
        top: 380px;

        animation: opacity_0 2s ease-in-out infinite alternate;
    }

    .beller-img-header-home-ellipse-sm-01 {
        left: -130px;
        top: 385px;

        animation: nudge_y 2s ease-in-out infinite alternate;
    }

    .beller-img-header-home-ellipse-sm-02 {
        left: -110px;
        top: 620px;

        animation: nudge_x 2s ease-in-out infinite alternate-reverse;
    }

    .beller-img-header-home-ellipse-sm-03 {
        left: 120px;
        top: 455px;

        animation: nudge_y 2s ease-in-out infinite alternate-reverse;
    }

    .beller-img-header-home-ellipse-sm-04 {
       left: 285px;
        top: 630px;
    }

    .beller-img-header-home-ellipse-sm-05 {
        left: 515px;
        top: -50px;

        animation: opacity_0 2s ease-in-out infinite alternate;
    }

    .beller-img-header-home-ellipse-sm-06 {
        left: 630px;
        top: 505px;
    }

    .beller-img-header-home-ellipse-sm-07 {
        left: 1380px;
        top: 640px;

        animation: nudge_x 2s ease-in-out infinite alternate-reverse;
    }

    .beller-img-header-home-ellipse-xs-01 {
        left: -280px;
        top: 315px;
    }

     .beller-img-header-home-ellipse-xs-02 {
        left: 365px;
        top: -50px;

        animation: opacity_0 2s ease-in-out infinite alternate;
    }

    .beller-img-header-home-ellipse-xs-03 {
        left: 290px;
        top: 485px;

        animation: nudge_deg_60 2s ease-in-out infinite alternate;
    }

    .beller-img-header-home-ellipse-xs-04{
        left: 580px;
        top: 645px;

    }

    .beller-img-header-home-ellipse-xs-05{
        left: 1300px;
        top: 630px;

        animation: opacity_0 2s ease-in-out infinite alternate;
    }
     // beller-img-bg-header-home vectors

    //  beller-animations-img-bg-header
    @keyframes nudge_x {

        100% {
            transform: translate(10px, 0);
        }
    }

    @keyframes nudge_y {

        100% {
            transform: translate(0, 10px);
        }
    }

    @keyframes nudge_deg_60 {

        100% {
            transform: translate(10px, -10px);
        }
    }

    @keyframes opacity_0 {

        100% {
            opacity: 0;
        }
    }
    //  beller-animations-img-bg-header

    @include media-breakpoint-up(lg) {
        padding-bottom: 2.625rem;
    }


    @include media-breakpoint-up(lg) {
        background: url('../img/beller-header-bg-home-poolside-xxl.png') no-repeat 45vw top padding-box, transparent linear-gradient(300deg, #FFFFFF 0%, #F2F2F2 100%) 0% 0% no-repeat padding-box;
    }

    @include media-breakpoint-up(xxl) {
        background: url('../img/beller-header-bg-home-poolside-xxl.png') no-repeat 47vw top padding-box, transparent linear-gradient(300deg, #FFFFFF 0%, #F2F2F2 100%) 0% 0% no-repeat padding-box;
    }

    @include media-breakpoint-up(xl) {
        padding-top: 4.5rem;
    }

}

.beller-content-header-home {
    padding-top: 2.75rem;

    @include media-breakpoint-down(lg) {
        padding-bottom: 2.75rem;
    }
}

.beller-header-container-app {

    @include media-breakpoint-up(lg) {
        padding-bottom: 2.75rem;
        padding-top: 2.75rem;
    }

    & > .row {
    @include media-breakpoint-up(xxl){
        --bs-gutter-x: -5rem;
    }

}

}


.beller-content-header-home {

    max-width: 35rem;

    .beller-btn-header-begin {

        margin-right: 0.5rem;
        padding: 0.5625rem 2rem 0.5625rem;

        @include media-breakpoint-down(lg) {
            display: none !important;
            height: 0 !important;
            margin: 0 !important;
            max-height: 0;
            max-width: 0;
            padding: 0 !important;
            width: 0 !important;
            visibility: hidden !important;
        }

        @include media-breakpoint-up(xl) {
            margin-right: 1.25rem;
        }

    }

    .beller-btn-header-download {

        margin-right: 0.5rem;
        padding: 0.5625rem 2.75rem 0.5625rem;

        @include media-breakpoint-down(md) {
            border-style: solid;
            font-weight: 500;
            padding: 0.625rem 2.75rem;
        }

    }

    p {
        margin-bottom: 1.875rem;
    }
}

.beller-title-header {

    @include media-breakpoint-down(lg) {
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }

    @include media-breakpoint-up(xl){
        font-size: 2.1875rem;
        margin: 1.25rem 0 1rem;
    }

    .beller-title-badge-header, & + p {

        @include media-breakpoint-down(lg) {
            display: none !important;
            height: 0 !important;
            margin: 0 !important;
            max-height: 0;
            max-width: 0;
            padding: 0 !important;
            width: 0 !important;
            visibility: hidden !important;
        }
    }

}

.beller-app-demo {
    background: $white;
    border-radius: 1.875rem;
    box-shadow: 0px 0px 1.5rem #00000012;
    max-height: 35.3125rem;
    max-width: 19.125rem;
    min-height: 35.3125rem;
    padding: 2rem 1.25rem;
    z-index: 1;

    @include media-breakpoint-down(lg) {
        display: none !important;
        height: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        width: 0 !important;
        visibility: hidden !important;
    }

    .beller-app-demo-header {

        .beller-app-header-title {
            margin-bottom: 0;
        }

        p {
            color: #939598;
            font-size: 0.75rem;
            margin-bottom: 0;
        }

        .beller-app-demo-header-thumb {
            .img-fluid {
                border-radius: 50%;
            }
        }
    }

    .beller-btn-app-request {
        border-style: dashed;
    }

    .beller-app-demo-report {
          --bs-gutter-x: 1rem;
        background-image: linear-gradient(to right, #E9E9E9 45%, rgba(255,255,255,0) 0%);
        background-position: bottom;
        background-size: 10px 1px;
        background-repeat: repeat-x;
        padding-bottom: 1.375rem;
        padding-top: 1.5rem;

    }
}

.beller-tabs-borderless-app-demo {

    padding-top: 0.75rem;

    .nav-link {
        padding: .5rem .5rem 0.125rem;
    }

    .tab-content {
        padding: 1.75rem 0;
    }
}

.beller-tabs-app-task-item {

    .beller-tabs-task-item-icon {
        max-width: 2rem;
    }

    .beller-tabs-task-item-btn {
       .btn {
            font-size: 0.75rem;
            max-width: 3.875rem;
            content: 'Test';

            &.disabled {
                background: #ECECEC;
                border-color: #ECECEC;
                color: #ECECEC;
            }
       }
    }
}

.beller-modal-home-app-report {

    .beller-app-demo-tabs {
        padding-top: 0;
    }

    .modal-content {
        border-radius: 1.25rem;
    }
    .modal-body {
        padding: 1.5rem 2.375rem 2rem;
    }

    .beller-title-header {
        margin-top: 0;

        .beller-title-badge-header {
            margin-bottom: 1rem;
        }
        @include media-breakpoint-up(lg){
            font-size: 1.5rem;
        }

    }

    .beller-app-tabs-tasks-content {
        padding: 2rem 0 0;
    }
}

[class^=beller-app-demo-video ]{
    padding: 3rem 0;
    cursor: pointer;
}

.beller-app-demo-video-sm {
     padding: 3.75rem 0 0;

    @include media-breakpoint-up(lg){
        display: none !important;
        height: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        width: 0 !important;
        visibility: hidden !important;
    }
}

.beller-modal-app-video {

    .beller-modal-close-video {

        $beller-modal-video-close-bg:               url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$white}'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>") !default;

        background: rgba($black, 0.22) escape-svg($beller-modal-video-close-bg) center / $btn-close-width auto no-repeat;
        background-size: 0.75rem;
        border-radius: 50%;
        bottom: auto;
        left: auto;
        padding: 0.375rem;
        position: absolute;
        right: 0.625rem;
        top: 0.625rem;
        z-index: +1;

        &:hover {
            background-color: $black;
        }
    }

    .modal-body {
        padding: 0;
    }

    .modal-content,
    .beller-app-video {
        border-radius: 1.25rem;
    }
}

.beller-section-home-services {
    // background: $white;
    // background: rgb(255 235 205);

    // margin-bottom: 5.875rem;
    padding-top: 2.5rem;
    padding-bottom: 4.375rem;

    @include media-breakpoint-up(md) {
        background-image: linear-gradient(to right, #E9E9E9 45%, rgba(255,255,255,0) 0%);
        background-position: bottom;
        background-size: 28px 1px;
        background-repeat: repeat-x;
        padding-top: 4.5rem;
        padding-bottom: 5.875rem;
    }


    & .row:not(:first-child) {
            --bs-gutter-y: 1.5rem;

            @include media-breakpoint-up(sm) {
                --bs-gutter-x: 0.5vw;
            }

            @include media-breakpoint-between(lg, xl) {
                --bs-gutter-x: -11.5vw;
            }
        }


    // & > .container {

        // @include media-breakpoint-down(lg) {
        //     padding: 0 2rem;
        // }

        // @include media-breakpoint-down(md) {
        //     padding: 0 1.5rem;
        // }

    // }

    // & > .container > .row {

        // padding-left: calc(var(--bs-gutter-x) / 1.5);
        //  padding-right: calc(var(--bs-gutter-x) / 1.5);

    // }

    .beller-header-home-services {
        color: #676767;
        margin-bottom: 2.625rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 3.125rem;
    }

    }

    .beller-title-home-services {
        font-size: 1.875rem;

        @include media-breakpoint-up(md) {
            font-size: 2.625rem;
        }

    }

    p {
        font-size: 1rem;
        @include media-breakpoint-down(md) {
            font-size: 0.875rem;
            margin: 0 auto;
            max-width: 65%;
        }
    }

    .beller-home-service {
        background: $white;
         border: 2px solid transparent;
         border-radius: 1rem;
        box-shadow: 0 0 1.875rem #0000000D;
        padding-bottom: 2.5rem;
        padding-top: 2.5rem;

        max-width: 17.25rem;

        @include media-breakpoint-up(sm) {
            max-width: 45vw;
        }

        @include media-breakpoint-up(lg) {
            max-width: 40vw;
        }

        @include media-breakpoint-up(xl) {
            max-width: 17.25rem;
        }

        &:hover {
            @include media-breakpoint-up(lg) {
                border: 2px solid $primary;
            }
        }



        .beller-img-home-service {
            margin-bottom: 1.25rem;
        }

        .beller-title-home-service {
            font-size: 1rem;
            font-weight: 400;
        }
    }
}

.beller-section-home-features {
    padding-bottom: 7.375rem;
    padding-top: 7.375rem;

    @include media-breakpoint-down(md) {
        display: none !important;
        height: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        width: 0 !important;
        visibility: hidden !important;
    }

    .beller-title-features {

        @include media-breakpoint-up(xl) {
            font-size: 2.25rem;
        }
    }

    p {
        color: #676767;
    }

    .beller-img-features {

        @include media-breakpoint-down(lg) {
            padding-bottom: 3rem;
        }
        img {
            box-shadow: 0 0 1.875rem #0000000D;
        }
    }
}

.beller-section-home-start-now {
     background: $primary;

    .beller-container-start-now {

        //   background: $primary url('../img/beller-img-bg-home-start-now-xs.png') no-repeat center right;
        // background-size: cover;

        background: url('../img/beller-img-bg-home-start-now-dots.png') no-repeat 20px 167px, url('../img/beller-img-bg-home-start-now-xs.png') no-repeat 40vw center, $primary;


        @include media-breakpoint-up(lg) {
            background: $primary url('../img/beller-img-bg-home-start-now-dots.png') no-repeat 20px 50px;
        }

    }

    .container {



        @include media-breakpoint-up(lg) {
            background: $primary url('../img/beller-img-bg-home-start-now-xl.png') no-repeat center right;
        }

        padding: 4.5rem 0;

        @include media-breakpoint-up(md) {
            padding-bottom: 1.875rem;
            padding-left: 4rem;
            padding-top: 1.875rem;
        }
    }

    .beller-title-start-now {
        color: $white;
        margin-bottom: 1rem;

        @include media-breakpoint-down(md) {
            font-size: 1.375rem;
        }
    }

    .beller-btn-start-now {
        background: $white;
        color: $primary;
        padding: 0.625rem 2rem;
    }
}


.beller-section-home-plans {

    padding-bottom: 6.25rem;
    padding-top: 4.25rem;

    .beller-plans-content {
        padding-bottom: 2.875rem;
    }

    .beller-title-plans {
        font-size: 2.625rem;
    }

    [class^='beller-plans-compare-'] {
        [class^='beller-col-plan-'] {

            @include media-breakpoint-up(lg) {
                text-align: center;
            }
        }

        & > .row {
            --bs-gutter-x: 0;
            --bs-gutter-y: 1.5rem;
        }

        .swiper-container {
            width: 100%;
            height: 100%;
        }

        [class^='beller-col-plan-'] {

            border-radius: 1.875rem;

            & > .row {
                 border-radius: 1.875rem;
                --bs-gutter-x: 0;

                @include media-breakpoint-down(xl) {

                    border: 2px solid #D8EFE4;
                }
        }


            @include media-breakpoint-up(xl) {
               border: 3px solid rgba(255,255,255,0);
               transition: border-color 0.23s ease;

                &.active, &:active, &:focus, &:hover {
                    border-color: $primary;
                }
            }

            &:not(:last-child) {
                @include media-breakpoint-down(md) {
                    margin-bottom: 1.25rem;
                }
            }

            & > .row {
                --bs-gutter-x: 0;
            }

            [class^='beller-col-heading-'] {
                cursor: pointer;
                min-height: 116px;
                padding: 1.25rem 1rem 2rem;
                text-align: center;
                // max-height: 13.5rem;
                min-height: 13.25rem;
            }

            [class^='beller-plan-feature'] {
                // padding: 0;
                line-height: 1;
                max-height: 2.5rem;
                min-height: 2.5rem;
                padding: 0.75rem 1.25rem;
                padding-top: 0.75rem;
                cursor: pointer;

                @include media-breakpoint-up(xl) {
                    text-align: center;
                }

                .fa-check {
                    color: #2FB775;
                }
            }

            .beller-plan-feature:nth-child(even) {
                background: #ABABAB1A;
            }
        }

        .beller-title-badge-recommended {
            font-size: 0.75rem;
            font-weight: 600;
        }

        [class^='beller-col-tilte-'] {
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: 0;
            margin-top: 1.375rem;
            text-transform: uppercase;
        }

        .beller-col-plan-features {

            border: 3px solid rgba(255,255,255,0);
            cursor: default;

            &:active, &:hover, &:focus {
                border: 3px solid rgba(255,255,255,0);
            }

            @include media-breakpoint-down(xl) {
                display: none;
            }

            .beller-plan-feature {
                cursor: default;
                text-align-last: left;
            }
        }

        .beller-col-tilte-feature {
            margin: 0;
            text-transform: none;
        }

        .beller-col-tilte-diamond {color: #70BBEF;}
        .beller-col-tilte-ruby {color: #FF0059;}
        .beller-col-tilte-jadiete {color: #2FB775;}
        .beller-col-tilte-blue-diamond {color: #367CCB;}

        .beller-feature-title {
            font-size: 0.875rem;
            font-weight: 400;

            @include media-breakpoint-up(xl) {
                display: none;
            }
        }

        .beller-plan-feature.beller-plan-feature-price {
            padding-bottom: 1.25rem;
            padding-top: 2.375rem;
            max-height: none;

            .beller-plan-price {
                color: $black;
                font-size: 2.125rem;
                font-weight: 600;
             }

              .beller-plan-period {
                 color: #C1C1C1;
                 font-size: 0.875rem;
                 font-weight: 400;
             }

            .beller-plan-price-period {
                margin-bottom: 1.75rem;
            }

            .beller-select-time-period {
                margin-bottom: 1.25rem;
            }
        }
    }

    .beller-plans-compare-cols {
        @include media-breakpoint-up(lg) {
            // display: none;
        }

        & > .row {

            @include media-breakpoint-down(xl){
                --bs-gutter-x: 1.5rem;
            }
        }
    }
}

.beller-section-home-about {
    background: #F9F9F9;
    padding-top: 3.5rem;

    @include media-breakpoint-down(md) {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }

    .beller-title-about {
        @include media-breakpoint-down(md) {
            font-size: 1.25rem;
            margin-bottom: 1.625rem;
        }
    }

    p {
        @include media-breakpoint-down(md) {
            font-size: 0.875rem;
        }
    }

    .beller-img-about {
        @include media-breakpoint-down(lg) {
            max-width: 16rem;
        }
    }

}

.beller-section-home-contact {

    padding-bottom: 3.25rem;
    padding-top: 3.25rem;

    @include media-breakpoint-up(md) {
        padding-bottom: 6.25rem;
        padding-top: 6.375rem;
    }

    .beller-form-contact-container {

        @include media-breakpoint-up(lg) {
            background: $white url('../img/beller-img-bg-form-contact-container.svg') no-repeat top right;
            padding: 2.125rem 2.125rem 0 0;
            max-width: 35rem;
        }

    .beller-form-contact-home {

        padding: 0 0.5rem;

        @include media-breakpoint-up(md) {
            background: $white;
            border-radius: 0.75rem;
            box-shadow: 0px 0px 26px #0000000F;
            padding: 2.75rem 3.125rem;
        }


        & > * {
            font-family: $headings-font-family;
        }

        .beller-title-form-contact,
        input.form-control,
        textarea.form-control {
            margin-bottom: 2rem;
        }

        input.form-control,
        textarea.form-control {
            font-weight: 500;
        }

        label {margin-bottom: 0.75rem;}

        textarea.form-control {border-radius: 0.75rem;}

        .beller-form-submit-home {
            .btn {
                font-size: 1.125rem;
                line-height: 1.2;
                padding-bottom: 0.75rem;
                padding-top: 0.75rem;

                @include media-breakpoint-down(md) {
                    background-color: $white;
                    color: $primary;
                }
            }
        }

    }

    .beller-title-form-contact {
        @include media-breakpoint-up(xl) {
            font-size: 1.875rem;
        }
    }

    }

    .beller-contact-content {

        @include media-breakpoint-down(lg) {
            display: none !important;
            height: 0 !important;
            margin: 0 !important;
            max-height: 0;
            max-width: 0;
            padding: 0 !important;
            width: 0 !important;
            visibility: hidden !important;
        }


        .beller-img-logo-contact {
            max-width: 13.75rem;
            margin-bottom: 2.875rem;
        }
        .beller-title-contact {
            @include media-breakpoint-up(xl) {
                font-size: 2.125rem;
                margin-bottom: 0.75rem;
            }
        }

        p { margin-bottom: 2.375rem;}
    }

}

.beller-btn-floating-whatsapp {

    @include media-breakpoint-down(xl) {
        display: none !important;
        height: 0 !important;
        margin: 0 !important;
        max-height: 0;
        max-width: 0;
        padding: 0 !important;
        width: 0 !important;
        visibility: hidden !important;
    }

    & > .container {
        max-width: 83rem !important;
    }
}

.beller-btn-whatsapp,
.beller-btn-whatsapp:active,
.beller-btn-whatsapp:hover  {
    background: $primary;
    border: 2px solid #FFFFFF91;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #2FB77599;
    font-size: 1.375rem;
    max-height: 2.625rem;
    max-width: 2.625rem;
    min-height: 2.625rem;
    min-width: 2.625rem;
    padding: 0
}