.beller-header-info-faq {
    background: url('../img/beller-img-bg-header-info-faq.png') center top no-repeat, linear-gradient(180deg, #D8EFE4 165px, #F5F5F5 50%) 0% 0% no-repeat padding-box;

     @include media-breakpoint-up(lg) {
         background: url('../img/beller-img-bg-header-info-faq-lg.png') center top no-repeat, linear-gradient(180deg, #D8EFE4 155px, #F5F5F5 50%) 0% 0% no-repeat padding-box;
     }

    .beller-content-info-faq {
        background: none;
        box-shadow: none;

        padding: 2.375rem 0 0;

        @include media-breakpoint-up(lg) {
            min-width: 35rem;
            max-width: 35rem;
        }


        .beller-header-title-info-faq {
            font-size: 1.5625rem;
            font-weight: 300;
            margin-bottom: 2.625rem;
            margin-top: 2rem;

            @include media-breakpoint-up(lg) {
                font-size: 2.1875rem;
                margin-bottom: 2.1875rem;
                margin-top: 1rem;
            }

            @include media-breakpoint-up(xl) {
                font-size: 2.1875rem;
            }
            span {
                color: $primary;
                font-weight: 600;
            }


        }

        .beller-header-search-faq {
            background: $white;
            height: 3.125rem;
            padding: 0.3125rem;
        }

        .beller-header-search-input-faq {
            background: none;
            border: 0;
            // height: 3.125rem;
            &:focus {
                box-shadow: none;
            }

            &::placeholder {
                color: #C7C7C7;
            }
        }

        .beller-header-search-btn-faq {
            background: transparent linear-gradient(180deg, #76CCAE 0%, #33B879 100%) 0% 0% no-repeat padding-box;
            color: $white;
            height: 2.5rem;
            margin-left: 0 !important;
            width: 2.5rem;
        }
    }
}

.beller-section-info-faq {

    & > .container {
        @include media-breakpoint-between(md, xl) {
            max-width: 48rem;
         }
    }

    padding-top: 2.375rem;

    [class^='beller-content-info-faq-'] {
        background: none;
        box-shadow: none;
        padding: 0;
    }

    .beller-content-info-faq-catergories {
        padding-top: 0;
        padding: 0 0 3.125rem;

       p {
           line-height: 1;
            margin-bottom: 2.8125rem;
       }

        .beller-content-btn-faq-catergories {
            --bs-gutter-x: 0.625rem;

            @include media-breakpoint-down(md) {
                --bs-gutter-y: 0.625rem;
            }

            @include media-breakpoint-up(md) {
                 --bs-gutter-x: 1.5rem;
             }

            @include media-breakpoint-between(md, xl) {
                --bs-gutter-y: 1.5rem;
            }

        }

        .beller-btn-faq-catergories {
            background: $white;
            box-shadow: 0px 0px 15px #00000008;
            font-weight: 500;
            line-height: 1;

            @include media-breakpoint-between(md, xl) {
                font-size: 1.5rem;
            }

             @include media-breakpoint-up(xl) {
                 font-size: 1.125rem;
                 padding: 0.75rem 2.375rem;
             }
        }

        & {
            .d-grid:not(:last-child) .beller-btn-faq-catergories {
                @include media-breakpoint-down(md) {padding: 1.75rem 0;}

                @include media-breakpoint-between(md, xl) { padding: 3.875rem 0; }

            }

            .d-grid:last-child .beller-btn-faq-catergories {

                 @include media-breakpoint-down(md) { padding: 0.875rem 0;}

                @include media-breakpoint-between(md, xl) { padding: 2rem 0; }

            }
        }

    }


    .beller-title-content-info-faq {
        font-weight: 800;
        @include media-breakpoint-up(xl) {
            font-size: 2rem;
        }
    }

    .beller-content-accordion-info-faq {

        .beller-accordion-item-faq {
            background: $white;
            border: none;
            border-radius: 0.625rem !important;
            box-shadow: 0px 0px 12px #00000008;

            &:not(:last-child) {
                margin-bottom: 1.125rem;
            }
        }

        .beller-accordion-btn-faq {
            border: none;
            border-radius: 0.625rem !important;
            color: $black;
            font-size: 0.875rem;
            padding: 1.25rem;
            font-weight: 500;


            @include media-breakpoint-up(lg) {
                font-size: 1.125rem;
            }

            &:not(.collapsed) {
                background: none;
            }

            &:focus {
                box-shadow: none;
            }

            &:after {
                background-color: #D8EFE4;
                background-position: center center;
                background-size: 0.875rem;
                border-radius: 50%;
                color: $primary;
                height: 1.375rem;
                width: 1.375rem;
            }
        }
    }
}


