.beller-footer {
    background: $primary;
    font-family: $headings-font-family;
    font-weight: 300;
    font-size: 0.875rem;
    color: #ffffffbf;
    padding: 1.5rem 0;

    a {
        color: $white;
        text-decoration: none;
    }

    .list-inline {
        margin-bottom: 0;
        @include media-breakpoint-down(sm) {
            margin-bottom: 1.5rem;
        }
    }

    .list-inline-item:not(:last-child) {
        margin-right: 1.25rem;
    }

    .fa-circle {
         color: #FFFFFF2E;
         font-size: 0.375rem;
    }
}