[class^='beller-header-services-'] {
    background: transparent linear-gradient(90deg, #40af7a 20%, #89d7bd 47%) 0% 0% no-repeat padding-box;

    @include media-breakpoint-up(lg) {
        background: transparent linear-gradient(to right, #3dbb81 0%, #3eb085 100%) 0% 0% no-repeat padding-box;
     }

    // background-image: linear-gradient(to right, #40af7a 20%, #7ED1AA8D 100%);

    & >.beller-container-header-services > .container > .row {
    //     background-image: linear-gradient(to right, #40af7a 10%, #7ED1AA8D 100%),
    // url('../img/beller-header-bg-services-continuous-maintenance.jpg');
    //     background-position: center center;
    //     background-repeat: no-repeat;
    //     background-size: contain;
        height: 12.75rem;
        max-height: 12.75rem;

        @include media-breakpoint-up(lg) {
            height: 9.75rem;
            max-height: 9.75rem;
        }
    }

    // .beller-content-services {}

    .beller-header-title-services {
        color: $white;
        font-size: 1.375rem;
        margin-bottom: 0;

        @include media-breakpoint-up(lg) {
            font-size: 2.25rem;
            font-weight: 300;
        }

    }
}

.beller-header-services-continuous-maintenance {

    @include media-breakpoint-down(lg) {
        background: /* url('../img/beller-header-img-bg-grid-dots.png') no-repeat 0px 36px,  */url('../img/beller-header-bg-services-continuous-maintenance.png') no-repeat center center, linear-gradient(90deg, #41ad79 20%, #89d7bd 47%) 0% 0% no-repeat padding-box;
    }

    @include media-breakpoint-up(xxl) {
        background: url('../img/beller-header-bg-services-continuous-maintenance-xl.png') no-repeat center center, linear-gradient(to right, #3dbb81 0%, #3eb085 100%) 0% 0% no-repeat padding-box;
     }

     .beller-container-header-services {
        @include media-breakpoint-between(lg, xxl) {
        background: url('../img/beller-header-bg-services-continuous-maintenance-lg.png') no-repeat center center, linear-gradient(to right, #3dbb81 0%, #3eb085 100%) 0% 0% no-repeat padding-box;
        }
    }
}

.beller-header-services-manage-staff {

    @include media-breakpoint-down(lg) {
        background: url('../img/beller-header-bg-services-manage-staff.png') no-repeat center center, linear-gradient(90deg, #2d7653 20%, #458b69 47%) 0% 0% no-repeat padding-box;
    }

    @include media-breakpoint-up(lg) {
        background: url('../img/beller-header-bg-services-manage-staff-lg.png') no-repeat center center, linear-gradient(to right, #2fb775 20%, #2b7552 100%) 0% 0% no-repeat padding-box;
     }

    //  .beller-container-header-services {
    //     @include media-breakpoint-between(lg, xxl) {
    //     background: url('../img/beller-header-bg-services-continuous-maintenance-lg.png') no-repeat center center, linear-gradient(to right, #3dbb81 0%, #3eb085 100%) 0% 0% no-repeat padding-box;
    //     }
    // }
}

.beller-section-services {
    background: #F5F5F5;

    padding-bottom: 3.5rem;

    // @include media-breakpoint-down(lg) {
        padding-top: 2.25rem;
    // }

    .beller-content-services-single {
        padding-bottom: 1.25rem;

        p {
            font-size: 0.8125rem;

            @include media-breakpoint-up(lg) {
                font-size: 1rem;
            }
        }
    }

    .beller-title-content-services {
        font-size: 1.25rem;
        padding-bottom: 1.25rem;

        @include media-breakpoint-up(lg) {
            font-size: 1.75rem;
        }
    }

    .beller-img-serivices-single {
        border-radius: 0.625rem;
        margin-bottom: 1.75rem;
    }

}

.beller-sidebar-services {

    max-width: 28rem;

    .beller-title-sidebar-services {
        font-size: 1rem;
        margin-bottom: 1.25rem;

        @include media-breakpoint-up(lg) {
            font-size: 1.25rem;
            margin-bottom: 1.875rem;
        }
    }

    .beller-sidebar-services-other {

        padding-bottom: 3.375rem;;

        @include media-breakpoint-up(lg) {
            padding-bottom: 2.25rem;
        }

        .beller-sidebar-nav-services {
            .nav-link {
                background: #EEEEEE;
                margin-bottom: 0.25rem;
                line-height: 1;
                padding: 1rem 1.25rem;

                .fa-arrow-right {
                    font-weight: 300;
                }
            }
        }

    }

    .beller-sidebar-cta-services {
        background: url('../img/beller-img-bg-sidebar-cta-service.png') no-repeat right bottom padding-box, transparent linear-gradient(314deg, #249F64 0%, #8FD6B4 100%, #000000 100%) 0% 0% no-repeat padding-box;

        padding: 2.375rem 0.875rem;

        @include media-breakpoint-up(sm) {
            background: url('../img/beller-img-bg-sidebar-cta-services-lg.png') no-repeat right bottom padding-box, transparent linear-gradient(314deg, #249F64 0%, #8FD6B4 100%, #000000 100%) 0% 0% no-repeat padding-box;
            border-radius: 0.625rem;
            margin-right: 0;
            margin-left: 0;
            padding: 1.25rem 2.75rem 2.25rem;

        }

        .beller-cta-copy-services {

            @include media-breakpoint-up(sm) {
                padding: 0;
            }

            .beller-cta-title-services, p {
            color: $white;
        }

            .beller-cta-title-services {
                font-size: 1.5rem;
                font-weight: 500;

                @include media-breakpoint-up(sm) {
                    font-size: 1.875rem;
                    margin-bottom: 1rem;
                }
            }

            p {
                font-size: 0.625rem;
                margin: 0;

                @include media-breakpoint-up(sm) {
                    font-size: 1rem;
                    margin-bottom: 1.25rem;
                }
            }
        }

        .beller-cta-btn-services {
            .beller-btn-white {
                font-size: 0.75rem;
                font-weight: 600;
                padding-left: 1.25rem;
                padding-right: 1.25rem;

                @include media-breakpoint-up(sm) {
                    font-size: 0.875rem;
                    padding-left: 1.875rem;
                    padding-right: 1.875rem;
                }
            }
        }

    }
}

.beller-sidebar-services-app {

    padding-bottom: 3.375rem;
    padding-top: 3.375rem;

    .beller-img-sidebar-services-app {

        img {

            max-width: 14.75rem;

            @include media-breakpoint-up(lg) {
                max-width: 19.75rem;
            }
        }

    }

    .beller-img-sidebar-app-dwnld {
        margin-top: -3.5rem;

        @include media-breakpoint-up(lg) {
             margin-top: -4.5rem;
        }

        img {
            max-width: 8rem;
            @include media-breakpoint-up(lg) {
                max-width: 9.75rem;
            }
        }
    }

    .beller-copy-services-app a {
        text-decoration: none;
    }


}

