@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


@import 'beller-variables';

@import 'bootstrap/bootstrap.scss';


.beller-btn-white {
    background: $white;

    box-shadow: 0 0 0 0.4rem rgb(211 212 213 / 35%);

    &, &:hover {
        color: $primary;
    }

    &:focus {
        box-shadow: none;
    }
}

[class^='beller-container-'] {

    @include media-breakpoint-down(xxl) {
        @include make-container();
        width: 100%;
        max-width: 1366px;
    }
}

[class^='beller-section-info-'] {
    background: #F5F5F5;

    padding: 1.25rem 0 2rem;

    @include media-breakpoint-up(lg) {
        padding: 2.3125rem 0 3.75rem;
    }

    & > .container > .row{
       --bs-gutter-x: 0;
    }
}

[class^='beller-content-info-'] {
    background: $white;
    box-shadow: 0px 0px 26px #0000000F;
    border-radius: 12px;
    padding: 1.375rem 1.5rem;

    @include media-breakpoint-up(lg) {
        padding: 3rem;
    }

    [class^='beller-title-content-info-'] {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;

        @include media-breakpoint-up(lg) {
            font-size: 1.875rem;
        }
    }

    [class^='beller-copy-info-terms-'] {

        font-size: 0.75rem;

        @include media-breakpoint-up(md) {
            font-size: 0.875rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 1rem;
        }

        @include media-breakpoint-up(xl) {
            font-size: 1.125rem;
        }

    }

    p {
        color: #808080;
    }

    .beller-item-index {
        position: relative;
    }

    .beller-item-content-index {
        .beller-title-item-index, p {
           font-size: 0.75rem;

           @include media-breakpoint-up(md) {
                font-size: 0.875rem;
            }

            @include media-breakpoint-up(lg) {
                font-size: 1rem;
            }

            @include media-breakpoint-up(xl) {
                font-size: 1.125rem;
            }
        }

        .beller-title-item-index {
            text-transform: uppercase;
        }
    }
}

[class^='beller-index-info-'] {

    @include media-breakpoint-up(xl) {
        padding-right: 0;
        padding-top: 3.25rem;
        margin-right: 2rem;
    }

    @include media-breakpoint-up(md) {
        min-width: 10.625rem;
        margin-right: 1.375rem;
    }

    @include media-breakpoint-up(lg) {
        min-width: 12.125rem;
    }

    @include media-breakpoint-down(md) {
        display: none;
    }


    [class^='beller-title-index-info-'] {
        font-size: 1.25rem;
        @include media-breakpoint-up(lg) {
            font-size: 1.1875rem;
        }
    }

    .nav-link {
        color: $blue;
        font-size: 0.875rem;
        font-weight: 600;
        padding: 0 0 1.5rem;

        @include media-breakpoint-up(lg) {
            font-size: 1rem;
        }

    }
}

[class^='beller-tabs-borderless-'] {
    .nav-tabs {
        border: none;
    }

    .nav-link {
        border: none;
        border-radius: 0;
        font-size: 0.75rem;

        &.active {
            color: $primary;
            border-bottom: 3px solid $primary;
            font-weight: 600;
        }
    }
}

[class^='beller-btn-gradient-'] {
    background: linear-gradient(120deg, #76CCAE 0%, #33B879 100%);
    border-radius: 50%;
    box-shadow: 0px 0px 0px 21px #88d6bc26, 0px 0px 0px 40px #88d6bc17 !important;
    display: block;
    font-size: 1.875rem;
    height: 5.75rem;
    max-height: 5.75rem;
    max-width: 5.75rem;
    width: 5.75rem;

    &:hover {
        background: linear-gradient(45deg, #76CCAE 0%, #33B879 100%);
    }
}

@import 'beller-navbar';
@import 'beller-home';
@import 'beller-faq';
@import 'beller-services';
@import 'beller-payment';
@import 'beller-footer';
